body {
    word-wrap: break-word;
    overflow-x: hidden;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add a shadow for depth */
    z-index: 1001;
    /* Ensure the content appears on top of the overlay */
}

/* Shimmer effect for the card */

.shimmer-card {
    animation: shimmer 1.5s infinite;
    background: linear-gradient(-90deg, #f1f1f1 25%, #e9e9e9 50%, #f1f1f1 75%);
    background-size: 400% 400%;
    border-radius: 4px;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

/* VideoPage Component */

.aspect-ratio-16-9 {
    position: relative;
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.aspect-ratio-object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width:640px) {

    /* Custom styles for overlaying the sidebar on top of content */

    .overlay_sidebar {
        position: absolute;
        top: 48px;
        left: 12px;
        z-index: 10;
        padding: 8px 12px;
        border-radius: 12px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    }

}